services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=watchdeck_db'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d watchdeck_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: .
    ports:
      - '8080:8080'
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/watchdeck_db
      - SPRING_DATASOURCE_USERNAME=myuser
      - SPRING_DATASOURCE_PASSWORD=secret
      - APPLICATION_SECURITY_JWT_SECRET_KEY=fy8XKY7xGcnvkLOfQX84NGfte9U9uVtO8wK5RlQf7lA
    depends_on:
      postgres:
        condition: service_healthy